<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            font-size: large;
            margin-left: 40%;
            margin-top: 40%;
        }
    </style>
</head>
<body>
    <h1 align="center">welcome to instructor</h1>
    <a href="/studentdetails">Click me to see the student details</a>
</body>
</html>